name: Publicar a Github Pages
on:
  push:
    branches:
      - 'main'

jobs:
  check-files:
    uses: ./.github/workflows/check-files.yml
  build-web:
    name: Construir la web

    needs: check-files
    if: ${{ needs.check-files.outputs.updated }}

    runs-on: ubuntu-latest
    container: asmilex/raytracing

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Compile web documentation
        run: |
          cd docs
          make PANDOC_EXEC=pandoc web
          sed -i 's/<img/<img loading="lazy"/' index.html
          mkdir output
          mv index.html ./output/index.html
      
      - uses: actions/upload-pages-artifact@v2
        with:
          name: github-pages
          path: ./docs/output
      
  deploy:
    name: Deploy to GitHub Pages
    needs: build-web    
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
