name: Check modified files

on:
  workflow_call:
    outputs:
      updated:
        description: "Whether some file changed"
        value: ${{ jobs.check-files.outputs.updated}}

jobs:
  check-files:
    name: Check if .md have been updated
    runs-on: ubuntu-latest

    outputs:
      updated: ${{ steps.out.outputs.updated }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v39

      - name: Set output
        id: out
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file"
            if  [[   "$file" == *docs/chapters/*md*
                  || "$file" == *docs/chapters/*.bib*
                  ||  "$file" == *docs/Makefile*
                  ||  "$file" == *docs/headers/*.md ]]; then

              echo "updated=true" >> $GITHUB_OUTPUT
            fi
          done
